PORT=3030
DATABASE_URL=
PASSLY_ADMIN_PIN_HASH=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
LINE_ALLOWED_GROUP_ID=
LINE_GROUP_NAME=บัญชี 1
LARK_APP_ID=
LARK_APP_SECRET=
LARK_VERIFICATION_TOKEN=
LARK_ALLOWED_CHAT_ID=
LARK_CHAT_NAME=บัญชี 1
LARK_WEBHOOK_URL=
